:root{
    --primary-color: #d69cc5;
    --secondary-color: #99b5da;
    --tertiary-color: rgb(253, 209, 24);
    --quaternary-color: rgb(99, 142, 193);
    --quinary-color: #99b6d9;
    --senary-color: #d77bf5;
    --septenary-color: #ae83dd;
    --octonary-color: #75e4bf;
}